<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <label for="product-name" class="form-label">Nombre del producto:</label>
    <input
      type="text"
      class="form-control"
      id="product-name"
      name="name"
      [formControlName]="'name'"
    />
  </div>
  <div class="mb-3">
    <label for="product-description" class="form-label"
      >Descripción del producto:</label
    >
    <textarea
      type="text"
      class="form-control"
      id="product-description"
      name="description"
      [formControlName]="'description'"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Imagen del producto:</label>
    <input
      class="form-control"
      type="file"
      id="image"
      (change)="convertToBase64($event)"
    />
  </div>
  <div class="mb-3">
    <label for="product-price" class="form-label">Precio:</label>
    <input
      type="number"
      step="any"
      class="form-control"
      id="product-price"
      name="price"
      [formControlName]="'price'"
    />
  </div>
  <div class="mb-3">
    <label for="product-stock" class="form-label">Stock:</label>
    <input
      type="number"
      class="form-control"
      id="product-stock"
      name="stock"
      [formControlName]="'stock'"
    />
  </div>

  <div class="mb-3">
    <label for="product-stock" class="form-label">Categoría:</label>
    <select
      class="form-select"
      id="product-categories"
      name="category"
      [formControlName]="'category'"
    >
      <option *ngFor="let category of categories" [ngValue]="category">
        {{ category.name }}
      </option>
    </select>
  </div>
  <button
    [disabled]="!form.valid"
    class="btn bg-orange w-100 text-black fw-bold"
    type="submit"
  >
    Crear producto
  </button>
</form>
