<div class="modal-container" [@showDetail]="showDetail ? 'show' : 'hide'">
  <div class="modal-content">
    <div class="close-label">
      <i
        (click)="closeDetail.emit($event)"
        class="fas fa-times"
        alt="Cerrar"
      ></i>
    </div>
    <h3 class="orange fw-bold">
      {{ product?.name }}
    </h3>
    <img src="{{ product?.image }}" />
    <div [innerHTML]="product?.description"></div>
  </div>
</div>
