<gc-navbar
  [isLoggedIn]="true"
  [isAdmin]="true"
  [isAdminHome]="false"
  [isAdminZone]="true"
></gc-navbar>
<div class="d-flex justify-content-center align-items-center vh-100">
  <app-product-form></app-product-form>
</div>
