<div
  class="d-flex justify-content-center align-items-center vh-100 overflow-hidden"
>
  <div class="forbidden-content">
    <img src="https://media4.giphy.com/media/ftqLysT45BJMagKFuk/giphy.gif" />
    <h1 class="mb-5 mt-5 orange-underline">
      Parece que no tienes permiso para acceder a esa zona...
    </h1>
    <div class="links-container">
      <button
        class="btn bg-orange text-white fw-bold"
        [routerLink]="['/login']"
      >
        Iniciar sesión
      </button>
      <button class="btn bg-orange text-white fw-bold" [routerLink]="['/']">
        Ir a inicio
      </button>
    </div>
  </div>
</div>
