.forbidden-content {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.links-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  button {
    width: 20%;
    margin-right: 2rem;
  }
}
