<gc-navbar
  [isLoggedIn]="isLoggedIn"
  [isAdmin]="isAdmin"
  (showCartEmitter)="showCart()"
></gc-navbar>
<router-outlet></router-outlet>
<app-featured-categories
  [categories]="featuredCategories"
  (categoryClicked)="categoryClicked($event)"
  (showAllCategories)="toggleCategories($event)"
></app-featured-categories>
<div class="container mt-5">
  <div class="row-12 mt-5">
    <span
      *ngIf="allProducts.length > productsToShow.length"
      class="delete-category-filter fw-bold"
      (click)="deleteCategoryFilter()"
      ><i class="fas fa-trash me-2"></i>Eliminar filtro por categoría</span
    >
  </div>
</div>

<app-products-list
  [products]="productsToShow"
  [totalPages]="totalPages"
  [pageLength]="pageLength"
  (productAddedToCart)="addProductToCart($event)"
  (showProduct)="toggleProductDetail($event)"
></app-products-list>
<app-cart
  (finishPurchase)="finishPurchase()"
  [showingCart]="showingCart"
  (isCartHided)="hidedFromCart()"
  [cart]="cart"
  [totalPrice]="cart.totalPrice"
  (cartAction)="cartAction($event)"
  [isLoggedIn]="isLoggedIn"
></app-cart>
<app-all-categories
  [showingCategories]="showingCategories"
  (closedMenu)="toggleCategories($event)"
  [categories]="categories"
  (filterCategory)="categoryClicked($event)"
></app-all-categories>
<app-product-detail
  [product]="allProducts[0]"
  (closeDetail)="toggleProductDetail()"
  [product]="showedProduct"
  [showDetail]="showProductDetail"
></app-product-detail>
<app-finish-purchase-modal
  [showModal]="showFinishPurchase"
  (closeModal)="closePurchaseModal()"
  [user]="user"
  [price]="cart.totalPrice"
></app-finish-purchase-modal>
