<div class="main">
  <div class="container">
    <div class="row">
      <div
        class="col-12 d-flex justify-content-center align-items-center vh-100"
      >
        <app-login-form
          *ngIf="!isRegister; else registerForm"
          class="w-75"
        ></app-login-form>
        <ng-template #registerForm
          ><app-register-form class="w-75"></app-register-form
        ></ng-template>
      </div>
    </div>
  </div>
</div>
