<form class="w-100" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <label for="email" class="form-label text-black fw-bold">Email</label>
    <input
      [formControlName]="'email'"
      type="email"
      class="form-control"
      id="email"
      [ngClass]="{ 'is-invalid': loginError }"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label text-black fw-bold"
      >Contraseña</label
    >
    <input
      type="password"
      class="form-control"
      id="password"
      [ngClass]="{ 'is-invalid': loginError }"
      [formControlName]="'password'"
    />
  </div>
  <button
    [disabled]="!form.valid"
    type="submit"
    class="btn bg-orange w-100 text-black fw-bold"
  >
    Iniciar sesión
  </button>
  <div *ngIf="loginError">
    <p class="small fw-bold mt-3">
      Por favor, revisa el correo y la contraseña introducidos
    </p>
  </div>
</form>
