<div class="container mt-5 pt-5">
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <h1 class="orange-underline mb-3">Categorías destacadas</h1>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-3" *ngFor="let category of categories">
      <app-category-card
        [category]="category"
        (categoryClicked)="categoryClicked.emit($event)"
      ></app-category-card>
    </div>
    <div class="col-12 mt-5">
      <p class="featured-text fw-bold" (click)="showAllCategories.emit(true)">
        <i class="fas fa-bars me-2"></i>Ver todas las categorías
      </p>
    </div>
  </div>
</div>
