$orange: #ff6000;
$grey: #575757;

.featured-categories-link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: $grey;
  transition: transform 0.2s;
  cursor: pointer;
  img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    clear: both;
  }
  &:hover {
    color: $orange;
    transform: scale(1.3);
  }
}

.featured-text {
  color: $grey;
  cursor: pointer;
  &:hover {
    color: $orange;
  }
}
