.navbar {
  height: 80px;
}

.mobile-cart {
  position: fixed;
  top: 90%;
  right: 2rem;
  z-index: 9999;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  font-size: 25px;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: end;
}

@media (max-width: 992) {
  #navbarSupportedContent {
    background: white !important;
    padding: 1rem;
  }

  .nav-item {
    border-bottom: 2px solid #57575730;
  }
}
