<nav class="navbar navbar-dark fixed-top fw-bold navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"
      ><img src="../../../assets/images/icon.png" alt="Site logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex">
        <div *ngIf="!isLoggedIn">
          <button
            [routerLink]="['/login']"
            class="btn bg-orange text-white fw-bold"
          >
            Iniciar sesión
          </button>
          <button
            [routerLink]="['/registro']"
            class="btn bg-orange text-white fw-bold ms-2"
          >
            Registrarse
          </button>
        </div>
        <div *ngIf="isLoggedIn">
          <button (click)="logOut()" class="btn bg-orange text-white fw-bold">
            Cerrar sesión
          </button>
        </div>
        <div *ngIf="isAdmin && !isAdminZone">
          <button
            [routerLink]="['/zona-administrador']"
            class="btn bg-orange text-white fw-bold ms-2"
          >
            Zona de administración
          </button>
        </div>
        <div *ngIf="isAdminZone">
          <button
            *ngIf="isAdminHome"
            [routerLink]="['/']"
            class="btn bg-orange text-white fw-bold ms-2"
          >
            Ir a inicio</button
          ><button
            *ngIf="!isAdminHome"
            [routerLink]="['/zona-administrador']"
            class="btn bg-orange text-white fw-bold ms-2"
          >
            Zona de administración
          </button>
        </div>

        <div *ngIf="!isAdmin ">
          <button
            class="btn bg-orange text-white fw-bold ms-2 d-none d-lg-block"
            (click)="showCart($event)"
          >
            Ver mi carrito
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<button
  class="btn bg-orange text-white fw-bold mobile-cart d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none"
  (click)="showCart($event)"
>
  <i class="fas fa-shopping-cart"></i>
</button>
