$orange: #ff6000;

.admin-card {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $orange;
    border: 2px solid $orange;
  }
}

.fas {
  font-size: 30px;
}
