<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-flex justify-content-evenly align-items-center flex-row w-100">
    <div
      class="admin-card grey-border"
      [routerLink]="['/zona-administrador/crear-producto']"
    >
      <i class="fas fa-plus"></i>
      <h3>Añadir producto</h3>
    </div>
    <div
      class="admin-card grey-border"
      [routerLink]="['/zona-administrador/crear-categoria']"
    >
      <i class="fas fa-plus"></i>
      <h3>Añadir categoría</h3>
    </div>
    <div
      class="admin-card grey-border"
      [routerLink]="['/zona-administrador/editar-stocks']"
    >
      <i class="fas fa-clipboard"></i>
      <h3>Modificar stocks</h3>
    </div>
  </div>
</div>
