$orange: #ff6000;
$grey: #575757;

.pagination {
  display: flex;
  justify-content: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    li {
      * {
        cursor: pointer;
      }
      .page {
        color: $grey;
        opacity: 0.5;
      }
      .current-page {
        color: $orange !important;
        opacity: 1;
      }
    }
  }
}
