<div class="pagination mt-5">
  <ul>
    <li>
      <button
        aria-label="Go To Previous Page"
        [attr.aria-disabled]="currentPage === 1"
        [disabled]="currentPage === 1"
        (click)="previousPage()"
        class="btn bg-orange w-100 text-black fw-bold"
      >
        Anterior
      </button>
    </li>
    <li *ngFor="let page of pages">
      <a
        class="fw-bold"
        [ngClass]="{
          'current-page': page === currentPage,
          page: page !== currentPage
        }"
        tabindex="0"
        (click)="goTo(page)"
        (keyup.enter)="goTo(page)"
      >
        {{ page }}</a
      >
    </li>
    <li>
      <button
        aria-label="Go To Next Page"
        [attr.aria-disabled]="currentPage === totalPages"
        [disabled]="currentPage === totalPages"
        (click)="nextPage()"
        class="btn bg-orange w-100 text-black fw-bold"
      >
        Siguiente
      </button>
    </li>
  </ul>
</div>
