<gc-navbar
  [isLoggedIn]="true"
  [isAdmin]="true"
  [isAdminHome]="false"
  [isAdminZone]="true"
></gc-navbar>
<div class="d-flex justify-content-center align-items-center">
  >
  <div class="container mt-5 pt-5">
    <div class="row d-flex justify-content-evenly h-100">
      <div
        *ngFor="let product of products"
        class="col-12 mt-2 mb-2 d-flex align-items-center"
      >
        <div class="d-block w-50">
          <p class="fw-bold grey">{{ product.name }}</p>
        </div>
        <div class="d-block w-50">
          <input
            type="number"
            (change)="updateStock($event, product)"
            value="{{ product.stock }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
