$grey: #575757;

.cart {
  position: fixed;
  top: 0;
  height: 100%;
  background: white;
  right: 0;
  z-index: 10000;
  border-left: 2px solid $grey;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.cart-rows-container {
  overflow-y: auto;
  margin-bottom: 2rem;
}
