<div class="cart" [@showCart]="showingCart ? 'show' : 'hide'">
  <app-detail-bar
    (showingCart)="closeCart()"
    [totalPrice]="totalPrice"
  ></app-detail-bar>
  <div *ngIf="totalPrice > 0" class="mt-2 mb-2">
    <button
      class="btn bg-orange text-white fw-bold ms-2"
      (click)="finishPurchase.emit()"
    >
      Finalizar compra
    </button>
  </div>
  <div class="cart-rows-container">
    <div *ngFor="let product of cart.productsToCart" class="cart-row mt-3">
      <app-cart-product-detail
        (action)="cartAction.emit($event)"
        [product]="product"
      ></app-cart-product-detail>
    </div>
  </div>
</div>
