<div class="container mt-3">
  <div class="row mt-5">
    <div class="col-12">
      <h1 class="orange-underline mb-3">Todos los productos</h1>
    </div>
  </div>
</div>

<div
  class="container mt-1 mb-1"
  [@changingPage]="isChanging ? 'loading' : 'loaded'"
>
  <div class="row mt-5">
    <div
      class="col-sm-12 col-md-6 col-xl-3 mt-4"
      *ngFor="let product of pageProducts"
    >
      <app-product-card
        [product]="product"
        (productAddedToCart)="productAddedToCart.emit($event)"
        (showProduct)="showProduct.emit($event)"
      ></app-product-card>
    </div>
  </div>
</div>
<div *ngIf="totalPages > 1" class="container mb-1">
  <div class="col-12">
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageSelected)="goTo($event)"
      (next)="nextPage($event)"
      (previous)="previousPage($event)"
    ></app-pagination>
  </div>
</div>
