$orange: #ff6000;
$grey: #575757;

.product-card {
  text-align: center;
  background-color: white;
  padding: 8px;
  position: relative;
  height: 558px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  cursor: pointer;
  .image {
    position: relative;
    span {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    clear: both;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.3);
    }
  }

  .btn {
    &:hover {
      color: white !important;
    }
  }
}

@media (max-width: 768px) {
  .product-card {
    height: auto;
  }
}
