<form id="create-category" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <label for="category-name" class="form-label"
      >Nombre de la categoría:</label
    >
    <input
      [formControlName]="'name'"
      type="text"
      class="form-control"
      id="category-name"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Imagen:</label>
    <input
      class="form-control"
      type="file"
      id="image"
      (change)="convertToBase64($event)"
    />
  </div>
  <button
    [disabled]="!form.valid"
    type="submit"
    class="btn bg-orange w-100 text-black fw-bold"
  >
    Crear categoría
  </button>
</form>
