<div class="product-card fw-bold" [ngClass]="{ disabled: product.stock <= 0 }">
  <div (click)="showProduct.emit(product)">
    <div class="image">
      <img [src]="product.image" />
      <span *ngIf="product.stock <= 0" class="badge bg-danger">
        Sin stock
      </span>
      <span
        *ngIf="product.stock <= 5 && product.stock > 0"
        class="badge bg-warning text-dark"
      >
        ¡Últimas unidades en stock!
      </span>
    </div>
    <h6 class="product-name">{{ product.name }}</h6>
    <div
      class="product-description"
      [innerHTML]="product.description.substr(0, 150).concat('...') + '</p>'"
    ></div>
    <p class="fw-bold product-price">{{ product.price }} €</p>
  </div>
  <button
    (click)="productAddedToCart.emit(product)"
    [disabled]="product.stock <= 0"
    type="submit"
    class="btn bg-orange w-100 text-black fw-bold"
  >
    <i class="fas fa-cart-plus"></i>
  </button>
</div>
