@import "../../products-list.container.scss";

.product-name {
  color: $orange;
  text-align: left;
}

.product-description {
  text-align: justify;
  color: $grey;
}

.product-price {
  text-align: left;
  color: $orange;
  font-size: 16px;
}

.disabled {
  cursor: not-allowed;
  img {
    opacity: 0.65;
    &:hover {
      transform: none;
    }
  }
}
