$orange: #ff6000;
$grey: #575757;
.categories-menu {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: end;
  padding: 0 1.5rem;
  align-items: center;
  i {
    cursor: pointer;
    color: $grey;
    &:hover {
      color: orange;
    }
  }
}
