.all-categories {
  position: fixed;
  top: 0;
  height: 100%;
  background: white;
  left: 0;
  z-index: 10000;
  border-right: 2px solid #575757;
  width: 20%;
  display: flex;
  flex-direction: column;
}
