<div
  class="all-categories"
  [@showCategories]="showingCategories ? 'show' : 'hide'"
>
  <app-menu (closeCategories)="closedMenu.emit($event)"></app-menu>
  <app-category-list
    [categories]="categories"
    (categoryFilter)="filterCategory.emit($event)"
  ></app-category-list>
</div>
