<div class="modal-container" [@showModal]="showModal ? 'show' : 'hide'">
  <div class="modal-content w-50 h-75">
    <div class="close-label">
      <i
        (click)="closeModal.emit($event)"
        class="fas fa-times"
        alt="Cerrar"
      ></i>
    </div>
    <div class="container container h-100">
      <div class="row d-flex justify-content-evenly h-100">
        <div *ngIf="user; else guest" class="col-12">
          <h3 class="orange fw-bold">
            Muchas gracias por comprar en PC-Store {{ user.name }}
          </h3>
        </div>

        <ng-template #guest>
          <div class="col-12">
            <h3 class="orange fw-bold">
              Muchas gracias por comprar en PC-Store, esperamos que valores
              nuestros servicios y te registres en nuestra página para futuras
              compras
            </h3>
          </div>
        </ng-template>
        <div class="col-12">
          <p class="fw-bold grey">
            El total de su compra ha sido de {{ price.toFixed(2) }} €
          </p>
        </div>
        <div class="col-12">
          <h4 class="orange fw-bold">¡Esperamos volver a verte pronto!</h4>
        </div>
        <div class="col-12">
          <button
            (click)="closeModal.emit($event)"
            class="btn bg-orange w-100 text-black fw-bold"
          >
            Volver a la tienda
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
