$orange: #ff6000;
$grey: #575757;

.product-cart-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  padding: 0px 1rem;
  border-bottom: 2px solid #57575730;
}

.price-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.quantity-controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.quantity-buttons {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
  color: $grey;
  &:hover {
    color: $orange;
  }
}
