<div class="product-cart-data">
  <p class="product-cart-name">{{ product.product.name }}</p>
  <div class="price-data">
    <span>Cantidad: {{ product.quantity }}</span>
    <span
      >Precio total:
      {{ (product.product.price * product.quantity).toFixed(2) }}</span
    >
  </div>
  <div class="quantity-controllers">
    <div class="quantity-buttons">
      <i class="fas fa-plus cursor-pointer" (click)="addOneToCart()"></i>
      <i
        class="fas fa-minus cursor-pointer"
        (click)="substractOneFromCart()"
      ></i>
    </div>
    <div class="trash-button">
      <i class="fas fa-trash cursor-pointer" (click)="deleteFromCart()"></i>
    </div>
  </div>
</div>
