$orange: #ff6000;
$grey: #575757;

.bg-orange {
  background-color: $orange !important;

  &:hover {
    background-color: $grey !important;
    border: 2px solid $orange;
  }
}

.orange-underline {
  text-decoration: underline $orange;
}

.grey-border {
  border: 2px solid $grey;
  color: $grey;
}

.orange {
  color: $orange;
}

.navbar {
  background-color: $grey;
  border-bottom: 2px solid $orange;
}

.nav-link:hover {
  color: $orange !important;
}

a {
  color: $grey !important;
  font-size: 14px !important;
  text-decoration: none !important;
  &:hover {
    color: $orange !important;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background: #5757578f;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    border-radius: 0.25rem;
    width: 70%;
    max-height: 85%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 1.5rem;
    overflow: auto;

    .close-label {
      width: 100%;
      justify-content: end;
      display: flex;
      margin-bottom: 2rem;
      .fas {
        color: $orange;
        cursor: pointer;
        &:hover {
          color: $grey;
        }
      }
    }
    img {
      max-width: 80%;
    }
  }
}
