<div class="cart-detail">
  <div class="price-label">
    <span class="fw-bold">Total: {{ totalPrice.toFixed(2) }} €</span>
  </div>
  <div class="close-label" (click)="showingCart.emit(false)">
    <i class="fas fa-times" alt="Cerrar"></i>
  </div>
</div>
