$grey: #575757;
$orange: #ff6000;

.cart-detail {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 2px solid $grey;
}

.close-label {
  color: $orange;
  cursor: pointer;
}
